/*BACKGROUND FOR APP*/

body {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  margin-top: 0;
}

/*HEADER STYLING*/

nav {
  height: 100px;
  border-bottom: 3px solid black;
  overflow: hidden;
}

.sliding-background {
  height: 100%;
  width: 100%;
  background-size: fill;
  background-image: url("../images/white-sky1.jpg");
}

#app-title {
  z-index: 1;
  text-align: center;
  color: #3F0D83;
  text-shadow:
  -1px -1px 0 #FAFAFA,
  1px -1px 0 #FAFAFA,
  -1px 1px 0 #FAFAFA,
  1px 1px 0 #FAFAFA;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

/*MAIN STYLING*/

main {
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /*border: 1px solid blue;*/
  background: transparent;
}

/*SEQEUNCER STYLING*/
.sequencer {
  display: flex;
}

.instrument-label-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.instrument-label {
  font-family: 'Open Sans', sans-serif;
  color: #063D6A;
  margin-right: 50px;
}

.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.grid-row {
  display: flex;
  justify-content: space-around;
}

.grid-node {
  height: 30px;
  width: 30px;
  /*border-radius: 90%;*/
  background: #615fcb; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #615fcb 0%, #1c12ae 50%, #5c48de 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #615fcb 0%,#1c12ae 50%,#5c48de 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #615fcb 0%,#1c12ae 50%,#5c48de 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  margin: 5px 5px;
  border: 2px solid #80729E;
}

.grid-node:hover {
  background: #7a5fcb; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #7a5fcb 0%, #4112ae 50%, #7f48de 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #7a5fcb 0%,#4112ae 50%,#7f48de 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #7a5fcb 0%,#4112ae 50%,#7f48de 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border: 2px solid #80729E;
}

.clicked-node {
  background: #a9e4f7; /* Old browsers */
  background: -moz-linear-gradient(45deg, #a9e4f7 0%, #0fb4e7 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #a9e4f7 0%,#0fb4e7 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #a9e4f7 0%,#0fb4e7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border: 2px solid #80729E;
}

.clicked-node:hover {
  background: #b3dced; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #b3dced 0%, #29b8e5 50%, #bce0ee 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border: 2px solid #80729E;
}

.light {
  border-radius: 50%;
  background: #e2e2e2; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border: 2px solid whitesmoke;
}

.light:hover {
  background: #e2e2e2; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border: 2px solid whitesmoke;
}

.currently-playing {
  background: #fceabb; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.currently-playing:hover {
  background: #fceabb; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
/*RIGHT BUTTONS STYLING*/

.right-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 250px;
  min-width: 250px;
}

#play-button {
  height: 50px;
  width: 50px;
  background: #A1FFCE;
  background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);
  background: linear-gradient(to right, #FAFFD1, #A1FFCE);
  border: 1px solid blue;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#play-button:hover {
  background: #000428;
  background: -webkit-linear-gradient(to right, #000428, #004e92);
  background: linear-gradient(to right, #000428, #004e92);
}

#play-button i {
  display: block;
  text-shadow:
  -1px -1px 10px #7966A0,
  1px -1px 10px #7966A0,
  -1px 1px 10px #7966A0,
  1px 1px 10px #7966A0;
}

#pause {
  color: #E45642;
}

#play {
  color: #6EEE5A;
}

/*EFFECTS SLIDERS STYLING*/

.sliders {
  width: 100%;
}
#tempo-slide-container, #synth-gain-container, #drum-gain-container {
  width: 100%;
}

label {
  width: 250px;
}

#tempo-slider, #synth-gain-slider, #drum-gain-slider {
  -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

#tempo-slider:hover, #drum-gain-slider:hover, #synth-gain-slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

#tempo-slider::-webkit-slider-thumb, #drum-gain-slider::-webkit-slider-thumb, #synth-gain-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
    background: #931936; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #931936 0%, #7d152d 44%, #5f0f22 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #931936 0%,#7d152d 44%,#5f0f22 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #931936 0%,#7d152d 44%,#5f0f22 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ /* Green background */
}


/*end of document*/
