/*BACKGROUND FOR APP*/

body {
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}

/*HEADER STYLING*/

nav {
  /*background: #314755;
  background: -webkit-linear-gradient(to top, #26a0da, #314755);
  background: linear-gradient(to top, #26a0da, #314755);*/
  height: 70px;
  border-bottom: 3px solid black;
}

#app-title {
  text-align: center;
  color: #3F0D83;
  text-shadow:
  -1px -1px 0 #FAFAFA,
  1px -1px 0 #FAFAFA,
  -1px 1px 0 #FAFAFA,
  1px 1px 0 #FAFAFA;
  font-family: 'Open Sans', sans-serif;
}

/*MAIN STYLING*/

main {
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /*border: 1px solid blue;*/
  background: transparent;
}

/*SEQEUNCER STYLING*/
.sequencer {
  display: flex;
}

.instrument-label-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.instrument-label {
  font-family: 'Open Sans', sans-serif;
  color: #063D6A;
  margin-right: 50px;
}

.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.grid-row {
  display: flex;
  justify-content: space-around;
}

.grid-node {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #5F656A;
  margin: 5px 15px;
  border: 2px solid whitesmoke;
}

.clicked-node {
  background: radial-gradient(#F7B843, #F7DE43, #FFFF91);
}

/*RIGHT BUTTONS STYLING*/

.right-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#play-button {
  height: 50px;
  width: 50px;
  background: #A1FFCE;
  background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);
  background: linear-gradient(to right, #FAFFD1, #A1FFCE);
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#play-button:hover {
  background: #000428;
  background: -webkit-linear-gradient(to right, #000428, #004e92);
  background: linear-gradient(to right, #000428, #004e92);
}

#play-button i {
  display: block;
  text-shadow:
  -1px -1px 10px #7966A0,
  1px -1px 10px #7966A0,
  -1px 1px 10px #7966A0,
  1px 1px 10px #7966A0;
}

#pause {
  color: #E45642;
}

#play {
  color: #6EEE5A;
}

/*EFFECTS SLIDERS STYLING*/

#tempo-slide-container, #synth-gain-container, #drum-gain-container {
  width: 30%;
}

#tempo-slider, #synth-gain-slider, #drum-gain-slider {
  -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

#tempo-slider:hover, #drum-gain-slider:hover, #synth-gain-slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

#tempo-slider::-webkit-slider-thumb, #drum-gain-slider::-webkit-slider-thumb, #synth-gain-slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}


/*end of document*/
